<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Baber Ali JAAT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

   

    <style>
        
        .navbar {
            background-color: #140337;
            border-bottom: 0.1px solid gray;
            width: 1325px !important;
            margin-left: 12px !important;
        }

        .navbar-brand {
            font-family: "Josefin Sans", sans-serif;
            color: #f39c12;
            font-size: 26px;
        }

        .baber-name {
            margin-left: 25px;
            color: white;
            font-family: "Josefin Sans", sans-serif;
            font-weight: bold; 
            font-size: 26px;
        }

        .ali-name {
            color: yellow;
            font-family: "Josefin Sans", sans-serif;
            font-weight: bold; 
            font-size: 26px;
        }



        .navbar-nav .nav-item {
            margin-right: 30px; 
        }

        .navbar-nav .nav-link {
            color: white !important; 
            margin-right: 15px;
            text-transform: uppercase; 
            transition: color 0.3s ease; 
        }

            .navbar-nav .nav-link:hover {
                color: yellow !important;
            }


        
        .fixed-top {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1030; 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        }

        
        body {
            padding-top: 65px;
        }



        html {
            scroll-behavior: smooth;
        }

        
        .footer-section {
            background-color: #1a1a1a;
            color: #ffffff;
            padding-top : 30px;
            padding-bottom : 20px;
            font-family: 'Arial', sans-serif;
        }

        .footer-about {
            margin-bottom: 20px;
        }

            .footer-about p {
                font-size: 14px;
                line-height: 1.6;
                color: #cccccc;
            }

        .footer-links {
            margin-bottom: 20px;
        }

            .footer-links h5 {
                margin-bottom: 15px;
            }

        .footer-nav {
            margin-left: 80px;
            list-style: none;
            padding: 0;
        }

            .footer-nav li {
                margin-bottom: 10px;
            }

                .footer-nav li a {
                    color: #bbb;
                    text-decoration: none;
                    transition: color 0.3s ease-in-out;
                }

                    .footer-nav li a:hover {
                        color: #ffffff;
                    }

        .footer-social {
            margin-bottom: 20px;
        }

            .footer-social h5 {
                margin-bottom: 15px;
            }

        .social-icons a {
            margin-right: 15px;
            color: #fff;
            font-size: 2rem;
            transition: color 0.3s ease-in-out;
        }

            .social-icons a:hover {
                color: #f39c12;
            }

        .footer-divider {
            border-color: #444;
            margin: 30px 0;
            height: 50px;
        }

        .footer-bottom p {
            font-size: 14px;
            color: #cccccc;
            margin: 5px 0;
        }


    </style>
</head>
<body>
    <header>

        
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #140337;">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Portfolio")">
                    <span class="baber-name">BABER</span> <span class="ali-name">ALI</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Portfolio")">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">PROJECTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Portfolio")">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="row">

               
                <div class="col-md-4 footer-about">
                    <h5>About Me</h5>
                    <p>
                        Hi, I'm Baber Ali JAAT, a passionate developer dedicated to creating innovative solutions. Let's connect and bring your ideas to life!
                    </p>
                </div>

              
                <div class="col-md-4 footer-links">
                    <h5 style="margin-left: 80px;">Quick Links</h5>
                    <ul class="footer-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/Portfolio">Portfolio</a></li>
                        <li><a href="/Blog">Blog</a></li>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a asp-area="" asp-controller="Portfolio" asp-action="Privacy">Privacy Policy</a></li>
                    </ul>
                </div>

               
                <div class="col-md-4 footer-social">
                    <h5>Follow Me</h5>
                    <div class="social-icons">
                        <a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fa-brands fa-facebook-square"></i></a>
                        <a href="https://www.twitter.com" target="_blank" title="Twitter"><i class="fa-brands fa-twitter-square"></i></a>
                        <a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.github.com" target="_blank" title="GitHub"><i class="fa-brands fa-github-square"></i></a>
                        <a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.youtube.com" target="_blank" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <hr class="footer-divider">

            <div class="text-center footer-bottom">
                <p>&copy; 2024 - Baber Ali JAAT. All Rights Reserved.</p>
                <p>Designed & Developed by Baber Ali JAAT</p>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
